.interject {
  font-size: 1.5em;
  font-weight: 700;
  border-left: 4px solid #CFB53B;
  padding-left: 10px;
  color: #333;
  margin: 20px 0;
}

.input-group-field{
  margin: 10px;
  padding: 40px 20px;
}

.gold {
  color: #CFB53B;
}